<!DOCTYPE html>
<html lang="pt-br">
<head>

<meta charset="utf-8">

<title>Portal SiEv</title>

<style>

body{

background:#0B1F3A;
font-family:Arial;
color:white;
text-align:center;

}

.card{

width:350px;

margin:25px auto;

padding:25px;

background:#1B355F;

border-radius:10px;

}

a{

color:white;

text-decoration:none;

font-size:22px;

display:block;

padding:15px;

background:#C59D2F;

border-radius:6px;

}

</style>

</head>

<body>

<h1>Portal Operacional SiEv</h1>

<div class="card">

<h2>Escolha o Comando Regional</h2>

<a href="/portal/cpr/1/">

CPR Leste

</a>

</div>

</body>

</html>